<div class="header">Data Adjustments</div>
<form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="addData()">
  <div class="cont" style="width:100%;">
    <div class="ui-g ui-fluid">
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            id="float-input"
            type="text"
            style="width:500px;"
            formControlName="name"
            pInputText
          />
          <label for="float-input">Name</label>
        </span>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback show">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            id="float-input"
            style="width:500px;"
            formControlName="sfid"
            pInputText
          />
          <label for="float-input">SFID</label>
        </span>
        <div *ngIf="submitted && f.sfid.errors" class="invalid-feedback show">
          <div *ngIf="f.sfid.errors.required">SFID is required</div>
        </div>
      </div>

      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            id="float-input"
            style="width:500px;"
            formControlName="date"
            pInputText
            bsDatepicker
          />
          <label for="float-input">Date</label>
        </span>
        <div *ngIf="submitted && f.date.errors" class="invalid-feedback show">
          <div *ngIf="f.date.errors.required">Date is required</div>
        </div>
      </div>
    </div>
  </div>

  <div class="cont" style="width:100%;">
    <div class="ui-g ui-fluid">
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            maxlength="2"
            (input)="checkValue($event)"
            id="float-input"
            style="width:500px;"
            pInputText
            formControlName="hours"
          />
          <label for="float-input">Adjustment Hours</label>
        </span>
        <div *ngIf="invalidNumber" class="invalid-feedback show">
          <div>Value should be bw 2 to 9 hours</div>
        </div>
      </div>
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            autocomplete="off"
            maxlength="2"
            id="float-input"
            style="width:500px;"
            formControlName="calls"
            pInputText
          />
          <label for="float-input">Adjustment Calls</label>
        </span>
      </div>
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            maxlength="2"
            id="float-input"
            style="width:500px;"
            pInputText
            formControlName="talktime"
          />
          <label for="float-input">Adjustment Talk Time</label>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group" style="width:100%;float:left;position:relative;">
    <button
      class="button"
      (click)="addData()"
      style="margin-right:20px;margin-left:50px;margin-bottom:30px"
    >
      Add
    </button>
  </div>
  <div
    id="tbl"
    style="width:95%;margin-left:50px;float:left;position:relative;  margin-bottom: 30px;
    "
  >
    <p-table [value]="addDataArray">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>SFID</th>
          <th>Date</th>
          <th>Adjustment Hours</th>
          <th>Adjustment Calls</th>
          <th>Adjustment Talk Time</th>
          <th class="center">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr>
          <td>{{ book?.name }}</td>
          <td>{{ book?.sfid }}</td>
          <td>{{ book?.date | date: "MM/dd/yyyy" }}</td>
          <td>{{ book?.hours || "n/a" }}</td>
          <td>{{ book?.calls }}</td>
          <td>{{ book?.talktime }}</td>
          <td class="deleteRow" (click)="deleteRow(book)"></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="form-group" style="width:100%;float:left;position:relative;">
    <button class="button" style="margin-left:50px;" (click)="SubmitData()">
      Submit
    </button>
  </div>
</form>
