<div class="header">Data Adjustments</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="cont" style="width:100%;">
    <div class="ui-g ui-fluid">
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            id="float-input"
            type="text"
            style="width:300px;"
            formControlName="name"
            pInputText
          />
          <label for="float-input">Name</label>
        </span>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback show">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            id="float-input"
            style="width:300px;"
            formControlName="sfid"
            pInputText
          />
          <label for="float-input">SFID</label>
        </span>
        <div *ngIf="submitted && f.sfid.errors" class="invalid-feedback show">
          <div *ngIf="f.sfid.errors.required">SFID is required</div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="text"
          formControlName="date"
          style="width:300px;margin-right: 10px;border: 1px solid #A8A8A8;height:35px"
          placeholder="Date"
          class="form-control"
          placement="bottom"
          bsDatepicker
        />
      </div>
      <div *ngIf="submitted && f.date.errors" class="invalid-feedback show">
        <div *ngIf="f.date.errors.required">Date is required</div>
      </div>
    </div>
  </div>

  <div class="cont" style="width:100%;">
    <div class="ui-g ui-fluid">
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            maxlength="2"
            (input)="checkValue($event)"
            id="float-input"
            style="width:300px;"
            pInputText
            formControlName="hours"
          />
          <label for="float-input">Adjustment Hours</label>
        </span>
        <div *ngIf="invalidNumber" class="invalid-feedback show">
          <div>Value should be bw 2 to 9 hours</div>
        </div>
      </div>
      <div class="form-group">
        <span class="ui-float-label" style="margin-right: 10px;">
          <input
            maxlength="2"
            id="float-input"
            style="width:300px;"
            formControlName="calls"
            pInputText
          />
          <label for="float-input">Adjustment Calls</label>
        </span>
      </div>
      <div class="form-group">
        <span class="ui-float-label">
          <input
            id="float-input"
            maxlength="2"
            style="width:300px;"
            formControlName="tt"
          />
          <label for="float-input">Adjustment Talk Time</label>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group" style="width:100%;float:left;position:relative;">
    <button
      class="button"
      (click)="addData()"
      style="margin-right:20px;margin-left:50px;margin-bottom:60px"
    >
      Add
    </button>
    <button class="button" style="margin-right:20px;">
      Submit
    </button>
  </div>
  <div
    id="tbl"
    style="width:80%;margin-left:50px;float:left;position:relative;"
  >
    <p-table [value]="AdjData">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>SFID</th>
          <th>Date</th>
          <th>Adjustment Hours</th>
          <th>Adjustment Calls</th>
          <th>Adjustment Talk Time</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr *ngFor="let dataObj of AdjData">
          <td>{{ dataObj?.vname }}</td>
          <td>{{ dataObj?.vsfid }}</td>
          <td>{{ dataObj?.vdate }}</td>
          <td>{{ dataObj?.vhours }}</td>
          <td>{{ dataObj?.vcalls }}</td>
          <td>{{ dataObj?.vtalktime }}</td>
          <div class="deleteRow" (click)="deleteRow()"></div>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
